<h1>Team#new</h1>
<p>Find me in app/views/team/new.html.erb</p>
<%= form_for(@team) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :logo_url %>
    <%= f.text_field :logo_url %>

    <%= f.submit "Create" %>
<% end %>